<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Braintree Playground</title>
  </head>
  <body>
    <h1>Braintree integrations</h1>
    <h2><a href="/dropin-v3">Drop-in V3</a></h2>
  </body>
</html>
