<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Braintree Playground</title>
  </head>
  <body>
    <main>
      <section>
        <h1>Result</h1>
        <h2>token:</h2>
        <p><%= p @result.payment_method.token %></p>
      </section>
    </main>
  </body>
</html>